.delivery-info {
    width: 100%;
    border: 2px solid var(--line);
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  .delivery-section {
    display: flex;
    align-items: flex-start;
    padding: 5px 20px;
    border-bottom: 1px solid var(--line);
  }
  
  .delivery-section:last-child {
    margin-bottom: 0;
  }
  
  .delivery-icon img{
    width: 40px;
  }
  
  .delivery-text {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }
  
  .delivery-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .delivery-details {
    font-size: 12px;
    color: #555;
  }
  
  a {
    text-decoration: none;
    color: var(--link);
  }