<div class="delivery-info">
  @if(isFreeDel)
  {
    <div class="delivery-section">
      <div class="delivery-icon"><img src="free-delevery.png" alt="free"></div>
      <div class="delivery-text">
        <div class="delivery-title">Free Delivery</div>
        <div class="delivery-details"><a href="#">Enter your postal code for Delivery Availability</a></div>
      </div>
    </div>
  }
    <div class="delivery-section">
      <div class="delivery-icon"><img src="return-delevery.png" alt="free"></div>
      <div class="delivery-text">
        <div class="delivery-title">Return Delivery</div>
        <div class="delivery-details">Free 30 Days Delivery Returns. <a href="#">Details</a></div>
      </div>
    </div>
  </div>