.primary-btn
{
    background-color: var(--button-2);
    border: none;
    width: 100%;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    display: inline-block;
}
.outlined
{
    background-color: var(--input-background);
    border: 1px solid var(--line);
    color: black;
}
.outlined:hover
{
    background-color: white !important;
}

.normal
{
    height: 56px;
}

.small
{
    height: 35px;
}

.primary-btn:hover
{
    background-color: var(--button-hover-3);
}

.primary-btn:disabled
{
    background-color: var(--label);
}