<div class="product-card">
    <div class="image-section">
        <div class="additional-section">
            @if(productInfo.discount !=0)
            {
                <div class="discount-info d-flex align-items-center justify-content-center">
                    -{{productInfo.discount}}%
                </div>
            }
            <div class="right-side-bar">
                
                    @if(!showDeleteIcon)
                    {
                        <div class="eye back-drop custom-class" (click)="addToWatchList()" >
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.257 10.962C21.731 11.582 21.731 12.419 21.257 13.038C19.764 14.987 16.182 19 12 19C7.81801 19 4.23601 14.987 2.74301 13.038C2.51239 12.7411 2.38721 12.3759 2.38721 12C2.38721 11.6241 2.51239 11.2589 2.74301 10.962C4.23601 9.013 7.81801 5 12 5C16.182 5 19.764 9.013 21.257 10.962V10.962Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    }
                    @else
                    {
                        <div class="eye back-drop custom-class" (click)="removeFromWatchList()" >
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 6H5H21" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M8 6V4C8 3.44772 8.44772 3 9 3H15C15.5523 3 16 3.44772 16 4V6M19 6V20C19 20.5523 18.5523 21 18 21H6C5.44772 21 5 20.5523 5 20V6H19Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10 11V17" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M14 11V17" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>    
                        </div>
                    }
            </div>
        </div>
        <img src="{{productInfo.image}}" alt="gamepad" class="product-image" (click)="navigateToProductInfo()">
        <div class="add-to-cart d-flex justify-content-center align-items-center custom-class" (click)="addToCart()">
            Add to Cart
        </div>
    </div>
    <div class="description-section mt-3">
        <p class="product-name">{{productInfo.name}}</p>
        <div class="amount">
            <span class="actual">${{getProperPrice(productInfo) }}</span>
            @if(productInfo.discount != 0)
            {
                <span class="striked">${{productInfo.actualPrice}}</span>
            }
        </div>
        <div class="rating">
            <app-rating (ratingChange)="onRatingChange($event)" [rating]="productInfo.rating" [isReadOnly]="true"></app-rating>
        </div>
    </div>
</div>