.carousel-main {
    position: relative;
    margin: 40px 0px;
  }
  
  .image-container {
    position: relative;
    width: 100%;
    overflow-x: hidden; 
    white-space: nowrap; 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    scroll-behavior: smooth; 
  }
  
  .image-view {
    background: black;
    width: 100%; 
    height: 350px;
    max-height: 350px;
    overflow: hidden;
    flex-shrink: 0; 
  }
  
  .image-view img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .dots
  {
    position: absolute;
    bottom: 10px;
    left: 50%;
    right: 50%;
  }
  .dot
  {
    min-width: 15px;
    min-height: 15px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
  }