#rating-component
{
    display: inline-block;
}
.input-star {
    font-size: 24px;
    color: #D3D3D3;
    transition: color 0.1s ease-in-out, transform 0.1s ease-in-out;
    transform-origin: center;
}

.input-star.selected {
    animation: wow-animation 0.6s ease-in-out;
}

@keyframes wow-animation {

    0%,
    100% {
        transform: scale(1) rotate(0deg);
        color: #FFA500;
    }

    50% {
        transform: scale(1.3) rotate(10deg);
        color: #FFC266;
        
    }
}