.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid rgba(219, 68, 68, 0.2);
  border-top-color: var(--button-2);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
