<div class="qnty-selector">
    <div class="quantity-selector">
        <button (click)="decrement()" class="decrement-button"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 12H4" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
            </svg>
            </button>
        <input type="number" [value]="quantity" min="1" (change)="onInputChange($event)" class="quantity-input" [disabled]="true" />
        <button (click)="increment()" class="increment-button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 20V12M12 12V4M12 12H20M12 12H4" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                </svg>            
        </button>
      </div>
</div>