.qnty-selector
{
    display: inline-block;
}
.quantity-selector {
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 35px;
    overflow: hidden;
}

.decrement-button,
.increment-button {
    border: none;
    background-color: white;
    padding: 8px 12px;
    cursor: pointer;
    width: 40px;
    border-right: 1px solid #ccc;
    font-size: 26px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.increment-button {
    background-color: #e3342f;
    color: white;
    border-right: none;
}

.quantity-input {
    border: none;
    text-align: center;
    width: 80px;
    padding: 8px 0;
    appearance: textfield;
    -moz-appearance: textfield;
    font-weight: 600;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}