<div class="forgot-password-container">
    <h2>Forgot Password</h2>
    @if(showEmailSentMessage)
    {
      <div class="password-reset-email">
        <p>Password reset email sent. Check your <b>inbox</b> for the reset link.</p>
      </div>
    }
    @else
    {
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email Address</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder="Enter your email"
            required
          />
          <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="validation-error">
            <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required.</div>
            <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Enter a valid email address.</div>
          </div>
        </div>
        <app-button label="Reset Password" buttonType="submit"></app-button>
      </form>
    
    }
    
    <p class="back-to-login" routerLink="/login">Back to Login</p>
  </div>