.breadcrumb {
    font-family: sans-serif;
    font-size: 14px;
    color: var(--label); 
    white-space: nowrap; 
  }

  .breadcrumb span {
    margin-right: 5px; 
    font-weight: 500;
    cursor: pointer;
  }

  .breadcrumb span:not(:last-child)::after {
    content: '/'; 
    margin-left: 5px;
    color: var(--label);
  }

  .breadcrumb span:last-child {
    color: black; 
  }

  .b-c
  {
    height: 100px;
  }