<div class="container">
    <app-bread-scrum></app-bread-scrum>
    <main>
        <div class="story-section d-flex justify-content-between">
            <div class="story-header">
                <h2>Our Story</h2>
                <div class="story-text">
                    <p>Launched in 2016, Exclusive is South Asia’s premier online shopping marketplace with an active presence in India. Supported by wide range of tailored marketing, data and service solutions, Exclusive has 10,000 sellers and 300 brands and serves 3 millions customers across the region.</p>
                    <p>Exclusive has more than 5 million products to offer, growing at a very fast. Exclusive offers a diverse assortment in categories ranging from consumer.</p>
                </div>
            </div>
            <div class="story-image">
                <img src="about-brand.png" alt="Story Image">
            </div>
        </div>

        <div class="stats-section">
            <div class="stat-item">
                <img src="icons/active-saller.png" alt="active saller">
                <h3>10.5k</h3>
                <p>Sellers active our site</p>
            </div>
            <div class="stat-item heighlight">
                <img src="icons/sale.png" alt="active saller">
                <h3>33k</h3>
                <p>Monthly Product Sale</p>
            </div>
            <div class="stat-item">
                <img src="icons/active-user.png" alt="active saller">
                <h3>45.5k</h3>
                <p>Customer active in our site</p>
            </div>
            <div class="stat-item">
                <img src="icons/revenue.png" alt="active saller">
                <h3>25k</h3>
                <p>Annual gross sale in our site</p>
            </div>
        </div>
        <div class="team-section">
            <div class="team-member">
                <img src="person-1.png" alt="Tom Cruise">
                <h4>Tom Cruise</h4>
                <p>Founder & Chairman</p>
                <div class="social-links">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="team-member">
                <img src="person-2.png" alt="Emma Watson">
                <h4>Emma Watson</h4>
                <p>Managing Director</p>
                <div class="social-links">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="team-member">
                <img src="person-3.png" alt="Will Smith">
                <h4>Will Smith</h4>
                <p>Product Designer</p>
                <div class="social-links">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="services-section">
            <div class="service-item">
                <img src="icons/fast-delevery.png" alt="">
                <p>FREE AND FAST DELIVERY <br> Free delivery for all orders over $40</p>
            </div>
            <div class="service-item">
                <img src="icons/support.png" alt="">

                <p>24/7 CUSTOMER SERVICE <br> Friendly 24/7 customer support</p>
            </div>
            <div class="service-item">
                <img src="icons/money-back.png" alt="">

                <p>MONEY BACK GUARANTEE <br> We return money within 30 days</p>
            </div>
        </div>
    </main>
</div>