.simple-card {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    width: 150px; 
    height: 150px; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    background-color: #fff; 
    padding: 20px; 
    text-align: center; 
    cursor: pointer; 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .simple-card:hover {
    border-color: #bbb; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  .card-icon {
    margin-bottom: 10px; 
    
    color: #333; 
  }
  
  .card-text {
    font-size: 1em;
    color: #333; 
    font-weight: normal; 
  }
  
  
  .card-icon svg {
      fill: currentColor; 
  }

  .image-style
  {
    width: 60px;
    height: 60px;
  }
  
  
  @media (max-width: 400px) {
    .simple-card {
      width: 120px;
      height: 120px;
      padding: 15px;
    }
     .card-icon svg {
         width: 30px;
         height: 30px;
     }
    .card-text {
      font-size: 0.9em;
    }
  }