
footer {
    background-color: black;
    color: white;
    padding: 40px 0px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.footer-section {
    flex: 1 1 200px;
    margin: 0px 15px 20px 15px;
}

.footer-section h3 {
    margin-bottom: 15px; 
    font-size: 1.2em; 
}

.footer-section h4 {
    margin-bottom: 10px; 
    font-size: 1em; 
}

.footer-section p,
.footer-section ul li {
    font-size: 0.9em; 
    line-height: 1.6; 
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px; 
    cursor: pointer;
}

.subscribe-form {
    display: flex;
}

.subscribe-form input[type="email"] {
    padding: 8px; 
    border: 1px solid white;
    background-color: transparent;
    color: white;
    flex-grow: 1;
    font-size: 0.9em; 
}

.subscribe-form button {
    padding: 8px 12px; 
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-size: 0.9em; 
}

.qr-code img {
    width: 100px;
    height: 100px;
}

.social-icons a {
    color: white;
    margin-right: 10px;
    font-size: 20px;
}

.copyright {
    text-align: center;
    margin-top: 30px; 
    font-size: 0.85em; 
    color: #8a8989;;
}


@media (max-width: 768px) {
    .footer-section {
        flex: 1 1 150px;
    }
}

@media (max-width: 480px) {
    .footer-section {
        flex: 1 1 100%;
    }
}
.search-input > input
{
    background-color: black;
    color: #FAFAFA;
}

.last-section
{
    max-width: max-content;
    position: relative;
}