<div *ngIf="order" class="order-container">
    <h2>Order Details</h2>
    <div class="order-header">
      <p><strong>Order Number:</strong> {{ order.orderNumber }}</p>
      <p><strong>Status:</strong> {{ getStatusText(order.status) }}</p>
      <p><strong>Total Amount:</strong> {{ order.totalAmount | currency }}</p>
      <p><strong>Created At:</strong> {{ order.createdAt | date }}</p>
    </div>

    <div class="shipping-address">
      <h3>Shipping Address</h3>
      <p><strong>Full Name:</strong> {{ order.shippingAddress.fullName }}</p>
      <p><strong>Address Line 1:</strong> {{ order.shippingAddress.line1 }}</p>
      <p *ngIf="order.shippingAddress.line2"><strong>Address Line 2:</strong> {{ order.shippingAddress.line2 }}</p>
      <p><strong>City:</strong> {{ order.shippingAddress.city }}</p>
      <p><strong>State:</strong> {{ order.shippingAddress.state }}</p>
      <p><strong>Postal Code:</strong> {{ order.shippingAddress.postalCode }}</p>
      <p><strong>Country:</strong> {{ order.shippingAddress.country }}</p>
      <p *ngIf="order.shippingAddress.phoneNumber"><strong>Phone Number:</strong> {{ order.shippingAddress.phoneNumber }}</p>
      <p *ngIf="order.shippingAddress.email"><strong>Email:</strong> {{ order.shippingAddress.email }}</p>
    </div>

    <div *ngIf="order.billingAddress" class="billing-address">
      <h3>Billing Address</h3>
      <p>Billing address details here...</p>
    </div>

    <div class="order-items">
      <h3>Order Items</h3>
      <ul>
        <li *ngFor="let item of order.orderItems">
         Product: {{item.productId}} - Variant: {{item.variantId}}- Quantity: {{ item.quantity }} - Price: {{ item.unitPrice  }}
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="!order">
    <p>No order data available.</p>
  </div>