.primary-btn
{
    border: none;
    width: 100%;
    height: 56px;
    border-radius: 6px;
    font-size: 16px;
    background-color: white;
    border: 1px solid var(--line);
}

.icon
{
    max-width: 25px;
    margin-right: 10px;
}

.primary-btn:hover
{
    background-color: var(--background);
}